*{
    margin: 0%;
    padding: 0%;
}
h2{
    color: white;
}
a{
    color: white;
    text-decoration: none; 
 }

.header{
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-sizing: border-box;
    #home{
        height: 100%;
    }

    div{
        width: 100%;
        margin-left: 4vmax;

        a{
           margin: 2vmax;
           font-size: 1.3rem;
           font-weight: 300;
        }   
    }

    svg{
        color: white;
        font-size: 2 rem;
        cursor: pointer;

        &:hover{
            color: rgb(216,216,216);
        }
    }

}
